body {
    background-color: hsl(0, 0%, 98%);
}

.ziti {
    background: #6b8e23;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Jours lundi -- Vendredi */

.days-grid {
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    background: rgb(198, 216, 112);
    border-bottom: 2px solid #ddd;
}

/* Grille principale 10 * 7 */
.calendar-grid {
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr);
    grid-auto-rows: 60px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* Jours name */
.day-header {
    padding: 10px;
    border-right: 1px solid #ddd;
}

.day-header.inactive {
    background: rgb(239, 245, 210);
    color: #999;
}

/* Colonne des heures */
.hour-col {
    background: whitesmoke;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 60px;
}

/* Cellules */
.day-cell {
    border: 1px solid #eee;
    cursor: pointer;
    position: relative;
}

.day-cell.inactive {
    background: #f4f4f4;
    pointer-events: none;
}

.day-cell:hover {
    background: rgb(227, 239, 166);
    ;
}

/* Réservations */

.reservation {
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100% - 6px);
    border-radius: 6px;
    color: #fff;
    font-size: 0.75rem;
    padding: 4px;
    overflow: hidden;
    cursor: pointer;
}

/* Couleurs selon le type */

.reservation.standard {
    background: #3ff96b;
}

.reservation.vip {
    background: #f24f49;
}

.reservation.groupe {
    background: #6fb5f3;
}

/* 📱 Responsive Design */

@media (max-width: 992px) {
    .days-grid,
    .calendar-grid {
        grid-template-columns: 60px repeat(7, 1fr); 
    }

    .hour-col {
        font-size: 0.75rem;
        line-height: 40px;
    }

    .day-header {
        font-size: 0.8rem;
        padding: 6px;
    }
}





