
body{
    background-color:hsl(0, 0%, 98%);

}

.ziti {
    background: #6b8e23;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.calendar-grid {
  display: grid;
  grid-template-columns: 80px 1fr; /* 80px pour les heures + le reste pour les jours */
  gap: 0;
}
.time-col {
  display: flex;
  flex-direction: column;
}
.hour {
  height: 60px; /* chaque créneau a la même hauteur */
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  padding-left: 5px;
}
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.day-header {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #c1f196;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
.day {
  height: 60px; /* correspond aux heures */
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
}
.day:hover {
    background: hsl(80, 68%, 70%);
    transform: scale(1.02);
}

.inactive {
    background-color: #f1f1f1;
    color: #aaa;
    pointer-events: none;
}

.reservation {
    margin-top: 5px;
    border-radius: 5px;
    color: white;
    padding: 4px;
    font-size: 0.85rem;
}

.reservation.vip {
    background-color: #e5707b;
} 
.reservation.standard {
    background-color: #1fe75e; 
} 
.reservation.groupe { 
    background-color: #3a7ce0;
} 

#search {
  border-radius: 6px;
  border: 2px solid #5E8C31;
  transition: 0.2s;
}
#search-btn {
  border-radius: 6px;
  border: 2px solid #5E8C31;
  transition: 0.2s;
}
#search:focus {
  box-shadow: 0 0 6px rgba(94, 140, 49, 0.5);
  border-color: #3b5d24;
}

.Time {
  display: grid;
  background: white;
  border-radius: 12px;
  position: relative; /* corrigé */
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.day:hover {
    background: hsl(80, 68%, 70%);
    transform: scale(1.02);
}

.inactive {
    background-color: #f1f1f1;
    color: #aaa;
    pointer-events: none;
}
