
body{
    background-color:hsl(0, 0%, 98%);
}

.ziti {
    background: #6b8e23;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Jours lundi -- Vendredi */

.days-grid {
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    background: rgb(198, 216, 112);
    border-bottom: 2px solid #ddd;
}

.day-header {
    padding: 10px;
    border-right: 1px solid #ddd;
}

.day-header.inactive {
    background: rgb(239, 245, 210);
    color: #999;
}

/* Grille principale */
.calendar-grid {
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr);
    grid-auto-rows: 60px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/* Colonne des heures */
.hour-col {
    background: #fff;
    text-align: right;
    padding-right: 8px;
    font-size: 14px;
    border-right: 1px solid #ddd;
    line-height: 60px;
}

/* Cellules */
.day-cell {
    border: 1px solid #eee;
    cursor: pointer;
    position: relative;
}

.day-cell:hover {
    background: #edf6ff;
}

/* Week-end désactivé */
.day-cell.inactive {
    background: #f4f4f4;
    pointer-events: none;
}

/* Réservations */
.reservation {
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    height: calc(100% - 6px);
    border-radius: 6px;
    color: #fff;
    font-size: 0.75rem;
    padding: 4px;
    overflow: hidden;
    cursor: pointer;
}

/* Couleurs selon le type */
.reservation.standard  { background:#28a745; }
.reservation.vip       { background:#d9534f; }
.reservation.groupe    { background:#0275d8; }
